################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/channel-openapi-client_csharp/obj/Debug
